venv/
__pycache__/
*.pyc
.DS_Store
token.json
credentials.json
service_account.json
client_secrets.json
mycreds.txt
token.pickle
data/token.json
data/credentials.json
data/service_account.json
data/oauth.json
instagrapi/
